*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

clearfix:after{
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

body{
  font-family: 'Roboto', sans-serif;
}

header {
  height: 550px;
  background-color: #0C325A;
}
